@import './restauranticon';
// @import './socialicon';

$icon-angle-arrow-down:'/icons/angle-arrow-down.svg';
$icon-close:'/icons/close.svg';
$icon-date:'/icons/date.svg';
$icon-facebook:'/icons/facebook.svg';
$icon-heart:'/icons/heart.svg';
$icon-instagram:'/icons/instagram.svg';
$icon-magnifying-glass:'/icons/magnifying-glass.svg';
$icon-pin:'/icons/pin.svg';
$icon-right-arrow:'/icons/right-arrow.svg';
$icon-left-arrow:'/icons/left-arrow.svg';
$icon-star:'/icons/star.svg';
$icon-twitter:'/icons/twitter.svg';
$icon-utencil:'/icons/utencil.svg';
$icon-creative:'/icons/creative.svg';
$icon-setting:'/icons/setting.svg';
$icon-pray:'/icons/pray.svg';
$icon-meal:'/icons/meal.svg';
$icon-star:'/icons/star.svg';
$icon-star-fill:'/icons/star-fill.svg';

.chelpi-icon {
  width : 18px;
  height: 18px;
  margin: auto 0;

  &.icon-sm {
    width : 16px;
    height: 16px;
  }

  &.icon-lg {
    width : 24px;
    height: 24px;
  }

  &.icon-xl {
    width : 32px;
    height: 32px;
  }

  &.icon-2xl {
    width : 64px;
    height: 64px;
  }

  &.icon-fill {
    width : 100%;
    height: 100%;
  }

  overflow            : hidden;
  display             : inline-block;
  content             : '';
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;

  &.icon-close{
    background-image: url($icon-close);
  }
  &.icon-facebook{
    background-image: url($icon-facebook);
  }
  &.icon-twitter{
    background-image: url($icon-twitter);
  }
  &.icon-instagram{
    background-image: url($icon-instagram);
  }
  &.icon-magnifying-glass{
    background-image: url($icon-magnifying-glass);
  }
  &.icon-pin{
    background-image: url($icon-pin);
  }
  &.icon-angle-arrow-down{
    background-image: url($icon-angle-arrow-down)
  }
  &.icon-right-arrow{
    background-image: url($icon-right-arrow)
  }
  &.icon-left-arrow{
    background-image: url($icon-left-arrow)
  }
  &.icon-star{
    background-image: url($icon-star)
  }
  &.icon-heart{
    background-image: url($icon-heart)
  }
  &.icon-date{
    background-image: url($icon-date)
  }
  &.icon-utencil{
  backgrond-image: url($icon-utencil)};
  &.icon-creative{
    backgound-image: url($icon-creative)
  };
  &.icon-setting{
    background-image: url($icon-setting)
  };
  &.icon-pray{
    background-image: url($icon-pray)
  }
  &.icon-meal{
    background-image: url($icon-meal)
  }
  &.icon-star{
    background-image: url($icon-star)
  }
  &.icon-star-fill{
    background-image: url($icon-star-fill)
  }
}
