@import 'typography';
@import 'animation';
@import 'icon';
@import 'form';

:root {}

body {
    background-color: #f7f7f7;
}
.user-avatar{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0px 4px #339966;
}
.banner{
  background-size: cover 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    position: absolute;
    height: 100%;
    width: 100%;
    background:hsla(0,0,0%, .5);
    left: 0;
    top: 0;
    content: '';
    // z-index: 1;
  }
}
